@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
  .step-item {
    @apply relative flex items-center space-x-2;
  }
  .step {
    @apply w-7 h-7 text-sm flex items-center justify-center z-10 relative bg-stroke rounded-full font-semibold text-white;
  }
  .active .step {
    @apply bg-primary;
  }
  .complete .step {
    @apply bg-primary;
  }
  .complete p {
    @apply text-primary;
  }
  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    @apply bg-primary;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


